# Config
src/config/config*
!src/config/config.py
!src/config/config.sample

# Dev environment
*.code-workspace
**/__pycache__/
README-alphavers.md

# Virtual environment
.venv
/.venv/

# OS Files
.DS_Store
